extends layout
 
block content
  h1= title
  style.
    body {
      background-color: coral;
    }
    .form-group {
      border: 2px solid black;
      border-radius:10px;
      padding: 10px;
      margin-bottom: 10px;
    }
  form(id='MusicalInstrumentsForm', action="/resource/MusicalInstruments", method="POST")
    div.form-group
      label.MusicalInstrumentsAttr(for='instrument_name') MusicalInstruments instrument_name
      input#instrument_name(type='text', name='instrument_name')
    div.form-group
      label.MusicalInstrumentsAttr(for='condition') MusicalInstruments condition
      input#condition(type='text', name='condition')
    div.form-group
      label.MusicalInstrumentsAttr(for='price') MusicalInstruments price
      input#price(type='number', name='price')
    input(type="submit")
 
  script.
    document.forms['MusicalInstrumentsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user t MusicalInstruments form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or wMusicalInstrumentsever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error );
      });
    });